apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: pricing
  namespace: monitoring
  labels:
    release: monitoring
spec:
  selector:
    matchLabels:
      app: pricing
  namespaceSelector:
    matchNames:
      - canary-demo
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
